* {
  margin: 0;
  padding: 0;
}
$primary-font: "DM Sans", sans-serif;

$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;

.landingPage {
  font-family: $primary-font;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(assets/img/Poster.png), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  height: 80vh;
  @media (max-width:768px) {
    background-size: contain;
    height: 30vh;
    
  }

  .navbar {
    padding: 10px;
    .navbarContents {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .logoTitle {
        display: flex;
        align-items: center;
        gap: 20px;
        span {
          font-weight: 700;
        }
      }
    }
    .searchInput {
      position: relative;
      border-radius: 5px;
      border: 1px solid;
      cursor: pointer;
      input {
        background-color: transparent;
        outline: none;
        width: 450px;
        height: 24px;
        color: white;
        padding: 2px;
        border: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        @media (max-width:768px) {
          width: 300px;
    
        }
        @media (max-width:600px) {
          width: 60%;
    
        }
        @media (max-width:500px) {
          width: 150px;
    
        }
        @media (max-width:415px) {
          width: 100px;
    
        }
      }
    }
    .signIn {
      display: flex;
      justify-content: center;
      gap: 10px;
      span {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
      .signInButton {
        background-color: #be123c;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        padding: 2px;

        cursor: pointer;
      }
    }
  }
  .watchNow {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;

    top: 20%;
    width: 300px;
    left:8%;
    @media (max-width:768px) {
    left: 4%;
    top: 5%;
    }
    @media (max-width:570px) {
    width: 200px;
    
    }
    .header {
      span {
        font-weight: 700;
        font-size: 34px;
        word-spacing: 12px;
        @media (max-width:768px) {
    
            font-size: 25px;
        }
      }
      .ratingContent {
        display: flex;
        gap: 15px;
        margin: 20px 0px;
        
      }
      .ratings {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .tomato {
        display: flex;
      }
    }
    .content {
      font-size: 16px;
      @media (max-width:768px) {
    font-size: 12px;
    
      }
    }
    .watch {
      display: flex;
      justify-content: baseline;
      align-items: center;
      width: max-content;
      :hover {
        cursor: pointer;
        background-color: #680a21;
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      button {
        width: 150px;
        background-color: #be123c;

        color: white;

        padding: 7px;
        border: none;
        border-radius: 5px;
        @media (max-width:768px) {
          width: 100px;   
          padding: 2px;

        }

        span {
          justify-content: center;
          align-items: center;
          display: flex;
          gap: 3px;
          font-size: 17px;
          @media (max-width:768px) {
            font-size: 10px;
    
          }
        }
      }
    }
  }
}
.featuredMovies {
  .featuredMoviesContent {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      padding: 10px;
      font-family: $primary-font;
      span {
        color: var(--rose-700, #be123c);
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
  .mainMovie {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    align-items: center;

    .movieContent {
      position: relative;
      
      .series {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 85%;
        padding: 20px;
        span {
          background-color: #ffffffbb;
          backdrop-filter: blur(10px);
          display: flex;
          align-items: center;
          color: black;
          padding: 3px;
          border-radius: 10px;
          opacity: 0;
        }
        p{
          cursor: pointer;
          color: #9ca3af;
          font-size: 20px;
          :hover{
            color: red;
          }
        }
      }
      width: 250px;
      font-family: $primary-font;
      display: flex;
      flex-direction: column;
      gap: 15px;
      img {
        width: 250px;
        height: 325px;
      }
      span {
        color: var(--gray-400, #9ca3af);
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
      }
      h3 {
        color: black;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: left;
      }
      .ratings {
        display: flex;
        justify-content: space-between;
        .ratings1 {
          display: flex;
          gap: 10px;
          img {
            width: 35px;
            height: 17px;
          }
        }
        .ratings2 {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 16px;
            height: 17px;
          }
        }
      }
    }
  }
}
